[Unit]
Description=Auth server boot
After=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/home/ec2-user/service
ExecStart=/usr/bin/docker-compose -f /home/ec2-user/service/docker-compose.yml up auth-server -d --remove-orphans
ExecStop=/usr/bin/docker-compose -f /home/ec2-user/service/docker-compose.yml down --rmi all -v --remove-orphans

[Install]
WantedBy=multi-user.target